{% load i18n %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            Debattikone
            {% if title %}: {{ title }}{% endif %}
        </title>
	<style>
	{% include "style.css" %}
	</style>
    </head>

    <body>
	<div id="top">
	<h1>Debattikone</h1>
	<h2>Älykästä keskustelua nettiin</h2>
	<hr />
	<div id="date">
	{{ now|date:"l j. n. Y" }} ~ Tervetuloa!
	</div>
	<div id="top_menu">
	<hr />
	{% block top_menu %}
	<a href="{% url index %}">Alkuun</a>
	<a href="{% url new_topic %}">Uusi aihe</a>
	<a href="{% url new_debate %}">Uusi debatti</a>
	<a href="{% url debate_list "open" %}">Avoimet debatit</a>
	<a href="{% url debate_list "current" %}">Käynnissä olevat debatit</a>
	<a href="{% url debate_list %}">Kaikki debatit</a>
	{% endblock %}
	</div>
	</div>
	<div id="left">
	{% block left %}
	<p class="left">
	{% include "tags/login_and_register.html" %}
	</p>
	{% if debate %}
	{% include "tags/debate.html" %}
	{% endif %}
	{% endblock %}
	</div>

	<div id="content">
{% if title and title != "Etusivu" %}
<h3>{{ title }}</h3>
{% endif %}

	{% block content %}
	{% endblock %}
	</div>
    </body>
</html>

