<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            Debattikone
            {% if title %}: {{ title }}{% endif %}
        </title>
    </head>

    <body>
	<div id="top">
	<h1>Debattikone</h1>
	<h2>Älykästä keskustelua nettiin</h2>
	<div id="date">
	2010-05-16
	</div>
	<div id="top_menu">
	{% block top_menu %}
	<a href="{% url new_topic %}">Uusi aihe</a> | Debatoi
	{% endblock %}
	</div>
	</div>
	{% block left %}
	<p>
		{% if not request.user.id %}
		<form action="" method="post">
		{% csrf_token %}
		{{ login_form.as_p }}
		<button name="login" value="login">Kirjaudu</button>
		</form>
		{% else %}
		{{ request.user }} (Kirjaudu ulos)
		{% endif %}
	</p>
	{% if debate %}
	DEBATE
	{% endif %}
	{% endblock %}

	{% block content %}
	{% endblock %}
    </body>
</html>

