{% extends "base.html" %}
{% load debattikone_filters %}

{% block content %}
<p>
	{{ debate.topic.summary }}
</p>

<table class="debate_table">
	<tr>
		<th>{{ debate.user1 }}</th>
	{% if not debate.is_pending %}
		<th>{{ debate.user2 }}</th>
	{% else %}
		<th>Toinen käyttäjä puuttuu vielä</th>
	{% endif %}
	</tr>

	{% if not debate_table and request.user.id %}
	{% if not debate.is_pending and not debate.is_closed %}
	<tr>
		<td>
		{% if request.user == debate.user1 %}
			<form method="post" action="">
			{% csrf_token %}
			{{ debate_message_form.as_p }}
			<input type="submit" name="submit" value="Lähetä viesti "/>
			</form>
		</td>
		<td>
		{% include "tags/help.html" %}
		{% else %}
		{% include "tags/help.html" %}
		</td>
		<td>
			<form method="post" action="">
			{% csrf_token %}
			{{ debate_message_form.as_p }}
			<input type="submit" name="submit" value="Lähetä viesti "/>
			</form>
		{% endif %}
		</td>
	</tr>
	{% endif %}
	{% else %}
	{% for row in debate_table %}
	<tr>
	{% for cell in row %}
	<td>
	{{ cell }}
	</td>
	{% endfor %}
	</tr>

	{# wtf is this for #}
	{% if forloop.last and request.user.id and debate|can_send:user != None %}
<tr>
		<td>
		{% if request.user == debate.user1 %}
			<form method="post" action="">
			{% csrf_token %}
			{{ debate_message_form.as_p }}
			<input type="submit" name="submit" value="Lähetä viesti "/>
			</form>
		</td>
		<td>
		{% include "tags/help.html" %}
		{% else %}
		{% include "tags/help.html" %}
		</td>
		<td>
			<form method="post" action="">
			{% csrf_token %}
			{{ debate_message_form.as_p }}
			<input type="submit" name="submit" value="Lähetä viesti "/>
			</form>
		{% endif %}
		</td>
</tr>
	{% endif %}
	{% endfor %}
	{% endif %}
</table>
{% if request.user.id and debate|can_send:user == None %}
<div style="margin-top: 16px;">
		{% include "tags/help.html" %}
</div>
{% endif %}
{% endblock %}


