{% extends "base.html" %}
{% load debattikone_filters %}

{% block content %}
<table>
	<tr>
		<td colspan="2">
		{% if debate|can_send:user == None %}
		Puheenvuoro on toisella osapuolella
		{% else %}{% if debate|can_send:user == 0 %}
		Voit esittää avausargumenttisi.
		<br />
		Älä vielä aloita kuitenkaan debatointia vastapuolen kanssa, vaan kerro esimerkiksi mistä tai miksi lähestyt tätä keskustelua. Usein kannattaa myös määritellä sanat joita aiot käyttää, ettei tule väärinkäsityksiä.
		{% else %}{% if debate|can_send:user == 1 %}
		Saat kysyä kysymyksen tai vastata.
		<br />
		Debattikone ei varsinaisesti pakota sinua käyttämään tätä puheenvuoroa tietyllä tavalla, mutta huomioithan, että jos viimeksi vastasit kysymykseen, voit kysyä oman kysymyksesi.
		{% else %}{% if debate|can_send:user == 2 %}
		Loppuargumentin vuoro.
		<br />
		Olette nyt käyneet koko debatin läpi ja on aika sulkea. Mitä ikinä viimeisiä ajatuksia on, joita haluaa yleisölle tai toiselle osapuolelle selvittää ilman, että siihen tulee vastauksia, kannattaa tehdä nyt.
		<br />
		Debattikone kiittää ja huomauttaa, että voitte tehdä uuden debatin ja jatkaa jos siltä tuntuu. Kuvaukseen voi laittaa linkin tähän debattiin!
		{% endif %}{% endif %}{% endif %}{% endif %}
		</td>
	</tr>

	<tr>
		<th>{{ debate.user1 }}</th><th>{{ debate.user2 }}</th>
	</tr>

	{% if not debate_table and request.user.id %}
	<tr><td colspan="2">
		<form method="post" action="">
		{% csrf_token %}
		{{ debate_message_form.as_p }}
		<button type="submit" name="submit" value="submit">Lähetä viesti</button>
		</form>
	</td></tr>
	{% else %}
	{% for row in debate_table %}
	<tr>
	{% for cell in row %}
	<td>
	{{ cell }}
	</td>
	{% endfor %}
	</tr>

	{% if forloop.last and request.user.id and debate|can_send:user != None %}
	<tr><td colspan="2">
		<form method="post" action="">
		{% csrf_token %}
		{{ debate_message_form.as_p }}
		<button type="submit" name="submit" value="submit">Lähetä viesti</button>
		</form>
	</td></tr>
	{% endif %}
	{% endfor %}
	{% endif %}
</table>
{% endblock %}


