{% extends "base.html" %}

{% block content %}
<h3>Mikä tämä on?</h3>
<p>
Debattikone on uudenlainen tapa käydä keskustelua Internetissä. Tarkoituksena on debatoida aiheita tiettyjen sääntöjen mukaan.
</p>
<h3>Miten tämä toimii?</h3>
<p>
Ylläolevasta valikosta voi luoda uusia aiheita, debatteja tai osallistua avoimeen debattiin.
</p>
<p>
Kun debatilla on kaksi osapuolta, esittävät he molemmat avausargumenttinsa, debatoivat kolme kierrosta ja esittävät loppulausunnon.
</p>
<h3>Mikä on "kierros"?</h3>
<p>
Kierros koostuu neljästä viestistä. Ensimmäinen käyttäjä kysyy kysymyksen, toinen käyttäjä vastaa siihen, esittää sen jälkeen oman kysymyksensä ja ensimmäinen käyttäjä vastaa.
</p>
<p>
Tämä rakenne pitää keskustelun kurissa.
</p>
{% endblock %}

