{% extends "base.html" %}

{% block content %}
<p class="debate_help">
Täällä voit luoda uuden keskusteluaiheen.
</p>
<p class="debate_help">
Ystävällisesti, ethän luo aihetta, joka on jo olemassa, ellet nimenomaan halua lähestyä sitä eri suunnalta. Kuvaus-kenttään kannattaa siis kuvailla aihetta mahdollisimman tarkasti.
</p>

{% if request.user.id %}
<p class="debate_help">
Voit ehdottaa aihetta tekemättä siitä debattia poistamalla valinnan lomakkeesta.
</p>
{% endif %}

<p>
		<form action="" method="post">
		{% csrf_token %}
	{% if not request.user.id %}
		<div style="margin-left: 10%;">
		{% include "tags/login.html" %}
		</div>
	{% else %}
		{% include "tags/new_topic.html" %}
	{% endif %}
		</form>

</p>

{% endblock %}


