body {
	background-color: #dedccd;
}

#top h1 {
	font-family: 'Times New Roman';
	font-size: 72px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

#top h2 {
	font-family: 'Times New Roman';
	font-size: 30px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

#date {
	font-family: 'Times New Roman';
	margin-top: 5px;
	margin-left: 16pt;
}

#top_menu {
	margin-top: 5px;
}

#top_menu a {
	margin-top: 5px;
	margin: 16pt;
}

#top_menu a:hover {
	text-decoration: underline;
}

a {
	font-family: 'Georgia', 'Times New Roman';
	text-decoration: none;
	color: #343434;
}

#left {
	position: absolute;
	border-right: 1px solid #616161;
	width: 200px;
	font-size: 12px;
}

#content {
	position: absolute;
	margin-left: 220px;
	margin-top: 40px;
}

/* EOF */

