body {
	background-color: #dedccd;
}

#top h1 {
	font-family: 'Times New Roman';
	font-size: 72px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

#top h2 {
	font-family: 'Times New Roman';
	font-size: 30px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	border-bottom: 1px solid #616161;
}

#date {
	font-family: 'Times New Roman';
	margin-top: 5px;
	border-bottom: 1px solid #616161;
}

